@font-face {
  font-family: "iconfont"; /* Project id 2616195 */
  src: url('iconfont.woff2?t=1657114929773') format('woff2'),
       url('iconfont.woff?t=1657114929773') format('woff'),
       url('iconfont.ttf?t=1657114929773') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douban1:before {
  content: "\e7a1";
}

.icon-douban:before {
  content: "\e64d";
}

.icon-cold:before {
  content: "\e6ef";
}

.icon-ask1:before {
  content: "\e684";
}

.icon-ask:before {
  content: "\e65e";
}

.icon--telescope:before {
  content: "\e61a";
}

.icon-rss:before {
  content: "\e703";
}

.icon-wangyuanjing:before {
  content: "\e6db";
}

.icon-github:before {
  content: "\e718";
}

.icon-email1:before {
  content: "\e62b";
}

.icon-netease-cloud-music-line:before {
  content: "\e7d6";
}

.icon-telegram:before {
  content: "\eaf9";
}

.icon-QQ:before {
  content: "\e69e";
}

.icon-TV:before {
  content: "\e6a8";
}

.icon-netease-cloud-music-fill:before {
  content: "\e97e";
}

.icon-email:before {
  content: "\e602";
}

